In [1]:
import pandas as pd

In [4]:
automobile = pd.read_excel('filename.xlsx')
print(automobile.head())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        38.6  1688.0        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan       998.0   176.6        ofic
4      4         audi        sedan        99.4   176.6         onc

  num-of-cylinders  horsepower  average-mileage  price
0             four         111               21  13495
1             four         111               21  16500
2              six         154               19  16500
3             four         102               24  13950
4             five         115               18  17450

In [5]:
# Use the tail() method to print the last two rows
print(automobile.tail(2))

   index company body-style  wheel-base  length engine-type num-of-cylinders  \
3      3    audi      sedan       998.0   176.6        ofic             four
4      4    audi      sedan        99.4   176.6         onc             five

   horsepower  average-mileage  price
3         102               24  13950
4         115               18  17450

In [6]:
# Use the idxmax() method to find the index of the row with the maximum value in the 'price' column
max_price_index = automobile['price'].idxmax()

# Use the loc[] method to access the company name in that row
most_expensive_company = automobile.loc[max_price_index, 'company']

# Print the result
print("The most expensive car company is:", most_expensive_company)

The most expensive car company is: audi